.container {
    display: grid;
    grid-template-columns: 20% 80%;
  }

  .sidebar {
    background-color: hsl(199, 89%, 48%);
    min-height: 100vh;
    color: hsl(0, 0%, 100%);
  }

  .logo-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .main {
    background-color: hsl(0, 0%, 100%);
    min-height: 100vh;
  }