@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('assets/fonts/assets/fonts/roboto-variablefont_wdthwght-webfont.woff') format('woff'),
       url('assets/fonts/assets/fonts/roboto-variablefont_wdthwght-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('assets/fonts/roboto-italic-variablefont_wdthwght-webfont.woff') format('woff'),
       url('assets/fonts/roboto-italic-variablefont_wdthwght-webfont.woff2') format('woff2');
}

body {
  font-family: 'Roboto', sans-serif;
}

/*
  Layout container
*/

.container {
    display: grid;
    grid-template-columns: 17% 83%;
  }

  /*
    Navigation sidebar
  */

  .sidebar {
    background-color: hsl(199, 89%, 48%);
    min-height: 100vh;
    color: hsl(0, 0%, 100%);
  }

  .logo-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 20px 20px 0;
  }

  .logo-text h1 {
    font-size: 2rem;
    font-weight: 900;
  }

  .icon-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    margin: 17px 27px;
  }

  .icon-text p {
    font-size: 1.2rem;
    font-weight: 800;
  }

  .list-items-bottom {
    margin: 60px 0;
  }

  /* 
    Main Content 
  */

  .main {
    display: grid;
    grid-template-rows: 30% 70%;
    background-color: hsl(0, 0%, 100%);
    min-height: 100vh;
  }

  .header {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
  }

  .navbar {
    
  }

  .navbar svg {
    fill: hsl(0, 0%, 0%);
  }

  .welcome {

  }

  .content {
    background-color: #F4F4F5;
  }

  svg {
    fill: hsl(0, 0%, 100%);
  }