@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('assets/fonts/assets/fonts/roboto-variablefont_wdthwght-webfont.woff') format('woff'),
       url('assets/fonts/assets/fonts/roboto-variablefont_wdthwght-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('assets/fonts/roboto-italic-variablefont_wdthwght-webfont.woff') format('woff'),
       url('assets/fonts/roboto-italic-variablefont_wdthwght-webfont.woff2') format('woff2');
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 20% 80%;
  }

  .sidebar {
    background-color: hsl(199, 89%, 48%);
    min-height: 100vh;
    color: hsl(0, 0%, 100%);
  }

  .logo-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .icon-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    margin: 10px 60px;
    font-weight: bolder;
  }

  .icon-text p {
    font-size: 2rem;
  }

  .list-items-bottom {
    margin: 60px 0;
  }

  .main {
    background-color: hsl(0, 0%, 100%);
    min-height: 100vh;
  }

  svg {
    fill: hsl(0, 0%, 100%);
  }